In [2]:
import torch
torch.cuda.is_available()

True

In [3]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
# device = torch.device("cpu")
device

device(type='cuda')

In [4]:
import pandas as pd
train = pd.read_csv('tabular-playground-series-jun-2021/train.csv')

In [5]:
train.head(10)

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
0,0,0,0,6,1,0,0,0,0,7,...,0,0,0,0,0,0,2,0,0,Class_6
1,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,0,Class_6
2,2,0,0,0,0,0,1,0,3,0,...,0,0,0,0,1,0,0,0,0,Class_2
3,3,0,0,7,0,1,5,2,2,0,...,0,4,0,2,2,0,4,3,0,Class_8
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_2
5,5,0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_8
6,6,0,1,2,1,0,2,0,0,0,...,1,2,0,2,0,1,0,0,0,Class_6
7,7,2,3,5,0,0,1,1,2,10,...,8,0,0,0,0,2,3,60,0,Class_3
8,8,1,0,0,35,6,2,2,0,3,...,0,37,0,5,4,1,0,0,0,Class_2
9,9,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,10,0,Class_8

In [6]:
from torch import nn,optim
import torch.nn.functional as F
from torch.autograd import Variable

class classifier(nn.Module):
    def __init__(self):
        super().__init__()
        self.fc1 = nn.Linear(75,32)
        self.fc2 = nn.Linear(32,9)
    
    def forward(self,x):
        x.to(device)
        x.double()
        x = F.relu(self.fc1(x))
        x = F.log_softmax(self.fc2(x),dim = 1)
        
        return x

In [14]:
train_x = train.drop('target',axis = 'columns')
train_x.drop('id',axis='columns',inplace = True)
for col in train_x:
    train_x[col] /= train_x[col].max()
# train_x
train_x = Variable(torch.tensor(train_x.values)).to(device)
train_x = train_x.type(torch.DoubleTensor)


one_hot_y = pd.get_dummies(train['target'])
one_hot_y =  Variable(torch.tensor(one_hot_y.values)).to(device)
train_y = torch.tensor(one_hot_y.max(1)[1])
train_y = train_y.view(200000,1)
train_x.to(device)

<ipython-input-14-edc9714b0aea>:12: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  train_y = torch.tensor(one_hot_y.max(1)[1])

tensor([0.0000, 0.0000, 0.0938, 0.0143, 0.0000, 0.0000, 0.0000, 0.0000, 0.1842,
        0.0000, 0.0000, 0.0000, 0.0811, 0.0000, 0.0312, 0.0000, 0.0000, 0.2143,
        0.1364, 0.0038, 0.0000, 0.0606, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
        0.0000, 0.0095, 0.0000, 0.0000, 0.0256, 0.0000, 0.0000, 0.0000, 0.0000,
        0.0000, 0.3235, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.1429, 0.0000,
        0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0536, 0.0000, 0.0263, 0.0833,
        0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0125, 0.0098,
        0.0000, 0.0000, 0.0556, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
        0.0328, 0.0000, 0.0000], dtype=torch.float64)

In [8]:
lr = 0.001
epochs = 10

model = classifier()

model.to(device)
crit = nn.NLLLoss()
opt = optim.SGD(model.parameters(),lr = lr)

In [15]:
model.double()
train_x.to(device)
train_y.to(device)
print(train_x[0])

out = model(train_x[0].view(1,75).to(device))
print(out)
out = out.to(device)
# loss = crit(out.view(1,9),train_y[1].view(1,9))
loss = crit(out,train_y[0])
loss

tensor([0.0000, 0.0000, 0.0938, 0.0143, 0.0000, 0.0000, 0.0000, 0.0000, 0.1842,
        0.0000, 0.0000, 0.0000, 0.0811, 0.0000, 0.0312, 0.0000, 0.0000, 0.2143,
        0.1364, 0.0038, 0.0000, 0.0606, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
        0.0000, 0.0095, 0.0000, 0.0000, 0.0256, 0.0000, 0.0000, 0.0000, 0.0000,
        0.0000, 0.3235, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.1429, 0.0000,
        0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0536, 0.0000, 0.0263, 0.0833,
        0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0125, 0.0098,
        0.0000, 0.0000, 0.0556, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000,
        0.0328, 0.0000, 0.0000], dtype=torch.float64)
tensor([[-2.0684, -2.3666, -2.0867, -2.2003, -2.1720, -2.3318, -2.0953, -2.2243,
         -2.2760]], device='cuda:0', dtype=torch.float64,
       grad_fn=<LogSoftmaxBackward>)

tensor(2.3318, device='cuda:0', dtype=torch.float64, grad_fn=<NllLossBackward>)

In [26]:
import os
if os.path.exists('NN_checkpoint.pth'):
    print("Path Exists")
    state_dict = torch.load('NN_checkpoint.pth')
    model.load_state_dict(state_dict)
    pass
else:

    print_every = 10000 #inputs 10,000

    for e in range(epochs):
        running_loss = 0
        steps=0
        flag = False
        model.train()
        for i in range(train_y.shape[0]):
            steps+=1
            opt.zero_grad()

            out = model.forward(train_x[i].view(1,75).to(device))
            loss = crit(out,train_y[i])
            loss.backward()
            opt.step()

            running_loss += loss.item()


            if steps%print_every == 0:
                print("Epoch: {}/{}.. ".format(e+1, epochs),
                      "Step:{}/{}.. ".format(steps,train_y.shape[0]),
                          "Training Loss: {:.3f}.. ".format((running_loss/print_every)))
                running_loss = 0
    torch.save(model.state_dict(), 'NN_checkpoint.pth')

Path Exists

In [28]:
accuracy = 0
test_loss = 0
model.eval()
for i in range(train_y.shape[0]):
    with torch.no_grad():
        out = model.forward(train_x[i].view(1,75).to(device))
        test_loss += crit(out,train_y[i]).item()
        exp_out = torch.exp(out)
        equality = (train_y[i].data == exp_out.max(1)[1])
#         if i%print_every == 0:
#             print(equality.type_as(torch.FloatTensor()))
        accuracy += equality.type_as(torch.FloatTensor()).item()

AttributeError: 'float' object has no attribute 'item'

In [29]:
print("Test Loss: {:.3f}.. ".format(test_loss/(train_y.shape[0])),
      "Test Accuracy: {:.3f}".format(accuracy/(train_y.shape[0])))

Test Loss: 1.783..  Test Accuracy: 0.350

In [126]:
import numpy as np
test_sub = pd.DataFrame(columns = ["Class_1 ","Class_2 ","Class_3 ","Class_4 ","Class_5 ","Class_6 ","Class_7 ","Class_8 ","Class_9 ",])
# test_sub.loc[len(test_sub.index),'id'] = 354 
# np.insert(a,0,345)
# display(a)
# test_sub.loc[len(test_sub.index)] = a

# test_sub.insert(0,'id',[12000])
test_sub
test = pd.read_csv('tabular-playground-series-jun-2021/test.csv')
test.drop('id',axis='columns',inplace = True)
test = Variable(torch.tensor(test.values)).to(device)
test = test.type(torch.DoubleTensor)

In [127]:
test.shape

torch.Size([100000, 75])

In [128]:
for i in range(test.shape[0]):
    with torch.no_grad():
        out = model.forward(test[i].view(1,75).to(device))
#         test_loss += crit(out,train_y[i]).item()
        exp_out = torch.exp(out)
        exp_out = exp_out.to('cpu').numpy()
#         display(exp_out.reshape(9))
        
#         display(exp_out)
        test_sub.loc[len(test_sub.index)] = exp_out.reshape(9)

In [134]:
# for i in range(1,10):
#     print('"Class_',i,'"',end=',')
id = []
for i in range(200000,300000):
    id.append(i)
# display(id)
# test_sub.insert(0,'id',id)
# display(test_sub.apply(lambda x: '%.9f' % x, axis=1))
test_sub.round(4).to_csv('sub_NN.csv',index=False)
test_sub.round(5)
# test_sub.tail()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,200000,0.04596,0.35216,0.19987,0.03285,0.01457,0.03651,0.04711,0.07318,0.19778
1,200001,0.05678,0.00002,0.00006,0.00495,0.00594,0.01166,0.36678,0.53790,0.01592
2,200002,0.05377,0.00000,0.00001,0.00242,0.00490,0.33682,0.36532,0.21033,0.02642
3,200003,0.14171,0.00006,0.00023,0.01404,0.01253,0.00663,0.41087,0.37617,0.03777
4,200004,0.05842,0.00015,0.00025,0.01464,0.00767,0.04495,0.48651,0.32319,0.06422
...,...,...,...,...,...,...,...,...,...,...
99995,299995,0.07475,0.03993,0.05546,0.02754,0.02765,0.00258,0.20225,0.43496,0.13488
99996,299996,0.08843,0.02403,0.02925,0.02463,0.01776,0.12896,0.23354,0.26860,0.18480
99997,299997,0.07597,0.06396,0.05226,0.03292,0.02544,0.11705,0.13905,0.34635,0.14700
99998,299998,0.01484,0.00000,0.00000,0.00021,0.00018,0.32477,0.19259,0.46509,0.00233
99999,299999,0.09469,0.00011,0.00051,0.01008,0.01801,0.02554,0.50208,0.31473,0.03424